@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';

body {
  direction: rtl;
  /* background-image: url('../../Frontend/src/components/img/b0e8fd73569972f1119b18bf89a8fb15.png'); استخدم مسار نسبي من مجلد public */
   /* background-image: url('https://i.pinimg.com/736x/49/fb/60/49fb60ed7641d048897ba49ea9d1fb2b.jpg');  */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;


  
}


  a, .no-underline, .link-no-underline {
    text-decoration: none !important;
    color: white;
  }
  



